<%= form_for lesson, html: {class:"pure-form"} do |f| %>
   <%= f.label :name %>
   <br>
   <%= f.text_field :name %>
   <span class="pure-form-message-inline">Be as accurate as possible.</span> 
   <br>
   <br>
   
   <%= f.fields_for :section do |s| %>
      <%= s.fields_for :category do |c| %>
         <%= c.label :name, "Category (Select this first!)" %>
         <%= c.collection_select(:name, Category.order(id: :desc), :name, :name, {selected: Category.last}, {class: "selectize"})%>
         <span class="pure-form-message-inline">Latest Category selected by default. "X" to unselect, then enter new or existing Category.</span>
      <% end %>

      <br><br>

      <%= s.label :name, "Section" %>
      <%= s.grouped_collection_select(:name, Category.order(id: :desc), :sections, :name, :name, :name, {prompt: "Enter to select or create"}, {class: "selectize", id: "select-lesson-section"}) %>
      <br><br>
   <% end %>


   <%= f.submit %>
<% end %>