<%= form_for lesson, html: {class:"pure-form"} do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %> <br><br>
   <span class="pure-form-message-inline">Be as accurate as possible with the name.</span> 
   <br>
   <br>
   
   <%= f.fields_for :section do |s| %>
      <%= s.label :name, "Section:" %>
      <%= s.text_field :name %> <br><br>

      <%= s.fields_for :category do |c| %>
         <%= c.label :name, "Category:" %>
         <%= c.text_field :name %> <br><br>
      <% end %>
   <% end %>

   <%= f.submit %>
<% end %>