<%= form_for lesson, html: {class:"pure-form"} do |f| %>
   <fieldset class="pure-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, class: "pure-input-1" %>
      <span class="pure-form-message-inline">Be as accurate as possible.</span> 
   </fieldset>

   <br>
   <%= f.fields_for :section do |s| %>
   <fieldset class="pure-group">
      <%= s.fields_for :category do |c| %>
         <%= c.label :name, "Category (Select this first!)" %>
         <%= c.collection_select(:name, Category.order(id: :desc), :name, :name, {selected: Category.last}, {class: "selectize pure-input-1"})%>
         <span class="pure-form-message-inline">Latest Category selected by default. "X" to unselect, then enter new or existing Category.</span>
      <% end %>
   </fieldset>

   
   <fieldset class="pure-group">
      <%= s.label :name, "Section" %>
      <%= s.grouped_collection_select(:name, Category.order(id: :desc), :sections, :name, :name, :name, {prompt: "Enter to select or create"}, {class: "selectize pure-input-1", id: "select-lesson-section"}) %>
      <br><br>
   <% end %>
   </fieldset>

   <%= f.submit class: "button-success pure-button" %>
   
<% end %>